<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 必须与接口的路径一致 -->
<mapper namespace="com.tm.mybatis.entity.mapper.PeopleMapper">

	<resultMap id="BaseResultMap" type="People">
		<id column="id" property="pId" />
		<result column="name" property="name" />
		<result column="age" property="age" />
		<result column="address" property="address" />
	</resultMap>

	<select id="getMinIdById" resultType="long">
		SELECT MIN(id) FROM people
		WHERE id > #{id}
	</select>

	<select id="getPeople" resultType="list" resultMap="BaseResultMap">
		SELECT * from people
	</select>

</mapper>