<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss:SSS\} %-p] [%t] %c{2\} - %m%n" />
		</layout>
	</appender>

	<appender name="debug" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- File: 日志文件存放路径 -->
		<param name="File" value="${catalina.base}/logs/debug/debug.log" />
		<!-- Append: 追加模式 -->
		<param name="Append" value="true" />
		<!-- Threshold: 打印日志级别 debug、info、warn、error -->
		<param name="Threshold" value="info" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="encoding" value="UTF-8" />
		<!-- DatePattern: 日志分割 错误日志以小时来分割 -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss:SSS} %p [%t] %c | %m%n" />
		</layout>
	</appender>

	<appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${catalina.base}/logs/info.log" />
		<param name="threshold" value="info" />
		<param name="encoding" value="UTF-8" />
		<param name="append" value="true" />
		<!-- Rollover at midnight each day -->
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %p [%t] %c | %m%n" />
		</layout>
	</appender>

	<appender name="WARN" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${catalina.base}/logs/warn.log" />
		<param name="threshold" value="warn" />
		<param name="encoding" value="UTF-8" />
		<param name="append" value="false" />
		<!-- Rollover at midnight each day -->
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %p [%t] %c | %m%n" />
		</layout>
	</appender>

	<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${catalina.base}/logs/error.log" />
		<param name="threshold" value="error" />
		<param name="encoding" value="UTF-8" />
		<param name="append" value="false" />
		<!-- Rollover at midnight each day -->
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %p [%t] %c | %m%n" />
		</layout>
	</appender>

	<logger name="com.mybatis" additivity="false">
		<level value="debug" />
		<appender-ref ref="STDOUT" />
	</logger>
	<root>
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="INFO" />
		<appender-ref ref="WARN" />
		<appender-ref ref="ERROR" /> -->
	</root>

</log4j:configuration>